<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Authentication</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/events" routerLinkActive="active"> Events </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/special" routerLinkActive="active"> Special </a>
      </li>
    </ul>
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/register" routerLinkActive="active"> Register </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" *ngIf="!authService.loggedIn()" routerLink="/login" routerLinkActive="active"> Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()"> Logout </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>
