<div class="row pt-5">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0"> Register </h3>
      </div>
      <div class="card-body">
        <form class="form">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control rounded-0" required
              [(ngModel)]="registerUserData.email" name="email"
            >
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control rounded-0" required
              [(ngModel)]="registerUserData.password" name="password"
            >
          </div>
          <button (click)="registerUser()" type="button" class="btn btn-primary float-right">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>
